#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# mod-bg-item-reward configuration
########################################
#
#    MyModule.Enable
#        Description: Enables the module.
#        Default:     0 - Disabled
#                     1 - Enabled
#

ModBGItemReward.Enable = 1

#
#
#    ModBGItemReward.AVWinItems
#    ModBGItemReward.ABWinItems
#    ModBGItemReward.WSGWinItems
#    ModBGItemReward.IOCWinItems
#    ModBGItemReward.SOTAWinItems
#    ModBGItemReward.AVDefeatItems
#    ModBGItemReward.ABDefeatItems
#    ModBGItemReward.WSGDefeatItems
#    ModBGItemReward.IOCDefeatItems
#    ModBGItemReward.SOTADefeatItems
#    ModBGItemReward.WSGTieItems
#        Description: Gives item rewards on battleground victories and defeats.
#        Default:     "" - None
#        Example      "20558:3" - Warsong Gulch Mark of Honor 3x
#

ModBGItemReward.AVWinItems = "20560:5"
ModBGItemReward.ABWinItems = "20559:5"
ModBGItemReward.WSGWinItems = "20558:5"
ModBGItemReward.IOCWinItems = "47395:5"
ModBGItemReward.SOTAWinItems = "42425:5"
ModBGItemReward.EOTSWinItems = "29024:5"

ModBGItemReward.AVDefeatItems = "20560:1"
ModBGItemReward.ABDefeatItems = "20559:1"
ModBGItemReward.WSGDefeatItems = "20558:1"
ModBGItemReward.IOCDefeatItems = "47395:1"
ModBGItemReward.SOTADefeatItems = "42425:1"
ModBGItemReward.EOTSWinItems = "29024:1"

ModBGItemReward.AVTieItems = "20560:3"
ModBGItemReward.WSGTieItems = "20558:3"
ModBGItemReward.IOCTieItems = "47395:3"
ModBGItemReward.ABTieItems = "20559:3"
ModBGItemReward.SOTATieItems = "42425:3"
ModBGItemReward.EOTSWinItems = "29024:3"
